POSTMARK_SERVER_TOKEN=your-postmark-server-token
POSTMARK_FROM_EMAIL=website@msravionics.com
POSTMARK_TO_EMAIL=sales@msravionics.com
POSTMARK_MESSAGE_STREAM=outbound
# Optional
# POSTMARK_BCC_EMAIL=archive@msravionics.com
